body {
  margin: 0 0px;
}

#header {
  font-size: 32px;
  height: 16vh;
  margin: 0 0px;
  border-bottom: 1px solid;
  border-bottom-color: rgb(230, 0, 0);
  background-image: url("img/home/nav-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

#logo {
  height: 110px;
  width: 200px;
  background-image: url("img/common/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 6vw;
  margin-top: -3px;
}

#overlay {
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0%;
  bottom: 0%;
  height: 100%;
  width: 100%;
}

#navbar {
  display: flex;
  width: 40%;
  align-items: center;
  position: absolute;
  right: 4vw;
  justify-content: space-around;
}

.nav_item {
  width:90px;
  font-family: 'Kanit', Arial;
  font-style: italic;
  text-decoration: none;
  color: rgb(230, 0, 0);
  text-align: center;
  font-size: 0.6em;
  padding: 5px 10px;
  border: 2px solid;
  border-color: rgb(230, 0, 0);
  border-radius: 30px;
}

.nav_item:hover {
  background-color: rgba(30, 10, 206, 0.452);
}

#small-menu {
  width: 100px;
  height: 100px;
  margin-top: 5px;
  display: none;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  /*rimuove il background azzurro quando si clicca sull'elemento*/
  position: absolute;
  right: 5vw;
}

#long-menu {
  font-size: 30px;
  display: none;
  background-image: url("img/home/nav-back-r.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: flex-start;
  width: 30vw;
  height: 100vh;
  position: fixed;
  right: 0%;
  top: 0%;
  border-left: 1px solid;
  border-left-color: rgb(230, 0, 0);
  z-index: 1;
}

#lm-button {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  z-index: 3;
  margin-bottom: 1.5vw;
  margin-top: 1.5vw;
}

#lm-box-link {
  display: flex;
  flex-direction: column;
  line-height: 60px;
}

a.long-menu-link {
  color: rgb(230, 0, 0);
  text-decoration: none;
  position: relative;
  left: 15px;
  z-index: 3;
}

#lm-overlay {
  background-color: rgba(3, 1, 32, 0.623);
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 2;
}

#general {
  font-size: 20px;
  color: rgb(230, 0, 0);
  background-image: url("img/home/back-gen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-bottom: 5vw;
}

/*overlay inserito per migliorare la visibilità del testo sul background*/

#overlay-gen {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  margin-top: 0px;
}

div.news {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 98vw;
  height: 23vw;
  margin: 2 2vw;
}

.intra-section {
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  color: rgb(9, 255, 161);
}

.intra-section h3 {
  font-family: 'Righteous', cursive;
  font-weight: 100;
  font-style: oblique;
  color: rgb(218, 109, 7);
}

div.image-container {
  position: absolute;
  left: 3vw;
  top: 5vh;
}

div.image-container img {
  width: 23vw;
  height: 18vw;
}

div.intra-section {
  position: absolute;
  left: 28vw;
  top: 2vh;
}

div.intra-section h3 {
  margin-bottom: 0px;
}

div.intra-section .button {
  font-family: 'Abril Fatface', cursive;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 30px;
  text-align: center;
  position: relative;
  left: 3vw;
  top: 3vh;
}

div.intra-section .button {
  color: rgba(255, 255, 255, 0.856);
}

div.intra-section a.button:hover {
  color: rgb(218, 109, 7);
  background-color: rgba(109, 110, 108, 0.856);
}

#api-box{
  color:rgb(218, 109, 7);
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  padding-left:6vw;
  z-index:1;
}
#news-header{
  display:flex;
  flex-direction:row;
  align-items:center;
}
#news-header h2{
  width:350px;
}
#news-header select{
  height:20px;
  position:relative;
  top:2px;
}
#news-box{
  display:flex;
  flex-direction:column;
}
.external-news{
  color:white;
  margin-bottom:10px;
  text-decoration:none;
}
.external-news:hover{
  color:chartreuse;
}

/*****************FOOTER********************/

footer {
  background-color: rgb(83, 83, 83);
  font-size: 16px;
  text-align: center;
  position: relative;
  padding-bottom: 4vw;
}

#stripe {
  height: 0.2vh;
  width: 95vw;
  background-color: rgb(23, 204, 135);
  position: relative;
  top: 2vh;
  left: 2vw;
  margin-bottom: 3vh;
}

#footer-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

#mini-logo-box {
  font-family: 'Dela Gothic One', cursive;
  font-style: oblique;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

#mini-logo-box img {
  width: 10vw;
  height: 10vw;
}

span#sede {
  margin-top: -20px;
}

#footer-links-box {
  font-size: 1.2em;
}

#footer-links-box a {
  font-family: 'Teko', sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: none;
  line-height: 5vw;
}

#footer-links-box a.link:hover {
  color: cornsilk;
}

#footer-links-box span#dati {
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

#box-social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 35px;
}

.social-logo {
  display: block;
  width: 5vw;
  height: 5vw;
}

#instagram-link {
  background-image: url("img/common/instagram.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#facebook-link {
  background-image: url("img/common/facebook.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#twitter-link {
  background-image: url("img/common/twitter.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.social-logo:hover {
  width: 3vw;
  height: 3vw;
}

/*media query*/

/*desktop viewport*/

@media (min-width:1400px) {
  #header {
    font-size: 32px;
    height: 12vh;
  }
  #logo {
    height: 150px;
    width: 240px;
    background-size: contain;
    left: 6vw;
    margin-top: 3px;
  }
  .nav_item {
    width:130px;
    font-size: 0.8em;
  }
  div.intra-section{
    position:relative;
    top:50px;
  }
}

/*Tablet viewport*/

@media (max-width:1080px) {
  #navbar {
    display: none;
  }
  #small-menu {
    display: block;
  }
  #small-menu img {
    width: 10vw;
    height: 10vw;
  }
  #long-menu img {
    width: 6vw;
    height: 6vw;
  }
  #lm-button {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #lm-box-link {
    line-height: 55px;
  }
  #general {
    padding-bottom: 3vh;
  }
  div.news {
    width: 98vw;
    height: 40vw;
    margin-top: -2vw;
  }
  #d1 {
    margin-top: 2vw;
  }
  div.image-container {
    position: absolute;
    left: 2vw;
    top: 2vh;
  }
  div.image-container img {
    width: 35vw;
    height: 28vw;
  }
  div.intra-section {
    font-size: 1em;
    left: 40vw;
    top: 0.5vw;
  }
  div.intra-section h3 {
    font-size: 1.3em;
  }
  div.intra-section .button {
    padding: 2px 6px;
    left: 3vw;
    top: 3vw;
  }
  #mini-logo-box img {
    width: 15vw;
    height: 15vw;
  }
  #mini-logo-box span {
    font-size: 1em;
  }
  #footer-links-box {
    font-size: 1.3em;
  }
  #box-social {
    margin-bottom: 20px;
  }
}

/*large smartphone viewport*/

@media (max-width:855px) {
  #header {
    height: 115px;
  }
  #long-menu img {
    width: 50px;
    height: 50px;
  }
  div.news {
    width: 98vw;
    height: 40vw;
    margin-top: -2vw;
  }
  div.intra-section {
    font-size: 0.83em;
  }
  div.intra-section h3 {
    font-size: 1.2em;
  }
  #d3 div.intra-section .button {
    top: 1.5vw;
  }
  .external-news{
    font-size:16px;
  }
  .social-logo {
    width: 40px;
    height: 40px;
  }
}

/*medium-large smartphone viewport*/

@media (max-width:680px) {
  #logo {
    height: 150px;
    width: 190px;
    left: 6vw;
    margin-top: -3px;
  }
  #small-menu img {
    width: 80px;
    height: 80px;
  }
  #header {
    height: 110px;
  }
  #lm-button {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  #lm-box-link {
    line-height: 45px;
  }
  div.image-container {
    top: 3.2vw;
  }
  div.intra-section {
    font-size: 0.75em;
  }
  div.intra-section h3 {
    font-size: 1.2em;
  }
  #news-header h2{
    width:230px;
    font-size:20px;
  }
  select#selection{
    top:0px;
    font-size:12px;
  }
  .external-news{
    font-size:12px;
  }
  footer {
    font-size: 14px;
  }
  #stripe {
    margin-bottom: 40px;
  }
  #mini-logo-box img {
    width: 80px;
    height: 80px;
  }
  #footer-links-box a {
    line-height: 55px;
  }
  #box-social {
    margin-bottom: 15px;
  }
}

/*smartphone viewport*/

@media (max-width:500px) {
  #header {
    height: 80px;
  }
  #logo {
    background-size: contain;
    height: 100px;
    width: 140px;
  }
  #small-menu img {
    width: 70px;
    height: 70px;
  }
  #small-menu {
    right: 30px;
  }
  #long-menu {
    font-size: 24px;
    width: 200px;
  }
  #lm-button {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  #lm-box-link {
    line-height: 35px;
  }
  div.image-container {
    top: 2.5vw;
  }
  div.intra-section {
    top:2vw;
    font-size: 0.48em;
  }
  div.intra-section h3 {
    font-size: 1em;
  }
  #news-header h2{
    width:180px;
    font-size:16px;
  }
  select#selection{
    font-size:10px;
  }
  .external-news{
    font-size:10px;
  }
  #stripe {
    margin-bottom: 30px;
  }
  #mini-logo-box img {
    width: 70px;
    height: 70px;
  }
  span#sede {
    margin-top: -10px;
  }
  #footer-links-box a {
    line-height: 45px;
  }
  #mini-logo-box {
    font-size: 0.48em;
  }
  #footer-links-box {
    font-size: 0.7em;
  }
  #footer-links-box a#dati {
    font-size: 1em;
  }
}

/*small smartphone viewport*/

@media (max-width:360px) {
  #logo {
    height: 80px;
    width: 120px;
  }
  #small-menu img {
    width: 60px;
    height: 60px;
  }
  #small-menu {
    right: 25px;
  }
  #long-menu {
    font-size: 20px;
    width: 144px;
  }
  #lm-button {
    margin-top: 12px;
    margin-bottom: 8px;
  }
  #long-menu img {
    width: 60px;
    height: 60px;
  }
  div.intra-section {
    font-size: 0.4em;
  }
  div.intra-section h3 {
    font-size: 1em;
  }
  #stripe {
    margin-bottom: 30px;
  }
  #mini-logo-box img {
    width: 65px;
    height: 65px;
  }
  span#sede {
    margin-top: -10px;
  }
  .social-logo {
    width: 30px;
    height: 30px;
  }
  .social-logo:hover {
    width: 30px;
    height: 30px;
  }
}